body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

.header-container {
  display: flex;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-container {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.webstudio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.web {
  color: #2e2f42;
}
.nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}
.nav-list:hover {
  color: #404bbf;
}

.nav-list:focus {
  color: #404bbf;
}
.adress-list-menu {
  display: flex;
  gap: 40px;
}

.address {
  font-style: normal;
  margin-left: auto;
}
.address-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-list:hover {
  color: #404bbf;
}
.address-list:focus {
  color: #404bbf;
}

.section-one {
  padding: 188px 0;
  background-color: #2e2f42;
}

.header-one {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.button-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

.list-two {
  display: flex;
  gap: 24px;
}
.header-two-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: left;
}

.header-three-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.header-four-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: left;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-two-elemnt {
  width: calc((100% - 72px) / 4);
}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
  text-align: center;
  margin-bottom: 0;
}

.paragraph-two {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
  text-align: left;
  margin-bottom: 0;
}
.paragraph-four {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
  text-align: left;
  margin-bottom: 0;
}

.list-three {
  display: flex;
  gap: 24px;
}
.name {
  padding: 32px 0;
}

.section-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
.section-three-list {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background: #fff;
}

.section-four {
  padding-top: 120px;
  padding-bottom: 120px;
}
.list-four {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}
.list-four-element {
  width: calc((100% - 48px) / 3);
}
.portfolio-border {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.web-footer {
  color: #f4f4fd;
}
.webstudio-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
